{% load static %}
<!DOCTYPE html>
<html lang="de">
	<head>
		<link rel="stylesheet" href="{% static 'index.css' %}" />
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Blog</title>
	</head>
	<body>
		<header>
			<h1>Blog</h1>
			<nav>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/posts">Posts</a></li>

					{% if user.is_authenticated %}
					<li><a href="/posts/self/">Me</a></li>
					<li><a href="/user/logout/">Logout</a></li>
					{% else %}
					<li><a href="/user/login/">Login</a></li>
					<li><a href="/user/register/">Register</a></li>
					{% endif %}
				</ul>
			</nav>
		</header>

		<main></main>

		<footer></footer>
	</body>
</html>
